.catCard {
    width: 252px;
    height: 344px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    position: relative;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .desc {
        position: absolute;
        top: 20px;
        left: 15px;
        color: red;
        font-weight: 300;
    }

}